<%# views/inventory/add-classification.ejs %>

<h1><%- title %></h1>

<%# Display Flash Messages %>
<% if (messages.notice) { %><div class="notice"><p><%= messages.notice %></p></div><% } else if (messages.error) { %><div class="notice error"><p><%= messages.error %></p></div><% } %>

<% if (errors) { %>
  <ul class="notice">
 <% errors.array().forEach(error => { %>
   <li><%= error.msg %></li>
<%  }) %>
 </ul>
<% } %>

<form id="addClassificationForm" action="/inv/add-classification" method="post">
  <fieldset>
    <label for="classification_name">Classification Name:</label>
    <p>Name must be alphabetic characters only.</p>
    <input type="text" name="classification_name" id="classification_name" required pattern="^[a-zA-Z]+$">
    <button type="submit">Add Classification</button>
  </fieldset>
</form>